<!-- HTML5 的文档类型声明 -->
<!DOCTYPE html>
<!-- 开始 HTML 文档，并指定文档的语言为英语（en） -->
<html lang="en">
<head>
    <!--  指定文档的字符编码为 UTF-8  -->
    <meta charset="UTF-8">
    <!--  用于设置视口的元数据，确保网页在不同设备上能正确显示  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  设置网页的标题，显示在浏览器的标签页上  -->
    <title>管理员登录界面</title>
    <!--  引入外部的 CSS 样式表文件  -->
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-container">
    <!-- 首级标题 -->
    <h1>管理员登录</h1>
    <!-- 账号输入框 -->
    <div class="input-container">
        <label for="username">账号</label>
        <input type="text" id="username" name="username">
    </div>
    <!-- 密码输入框 -->
    <div class="input-container">
        <label for="password">密码</label>
        <input type="password" id="password" name="password">
    </div>
    <!-- 一个按钮 -->
    <div class="button-container">
        <button id="login">登录</button>
    </div>
</div>
</body>
</html>
